.badge {
    @include badge-default-styles;

    min-width: 15px;
    min-height: 15px;
    color: white;
    padding: 3px 5px;
    font-weight: 300;
    font-size: map-get($paragraphs, "text-5");
}
.badge-flat {
    border-radius: 1px;
}
