.btn {
    display: inline-block;
    position: relative;
    padding: $button-border-padding-x $button-border-padding-y
        $button-border-padding-x $button-border-padding-y;
    background-color: var(--primary-color);
    color: white;
    outline: none;
    border: none;
    @include button-border-radius;

    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px);
    }
    &:active {
        transform: translateY(0);
    }
}

.btn-rounded {
    border-radius: 999px;
}

.btn-outline {
    background: transparent;
    border: 2px solid map-get($gray-scales, "gray-9");
    color: black;
}

.btn-flat {
    border-radius: 4px;
}

.btn-disable {
    background-color: map-get($gray-scales, "gray-9");
    color: map-get($gray-scales, "gray-6");
    pointer-events: none;
}
