.container {
    @include SET-MEDIA-QUERY-FOR("sm") {
        max-width: 100%;
    }

    @include SET-MEDIA-QUERY-FOR("md") {
        max-width: 100%;
        margin: 0 20px;
    }

    @include SET-MEDIA-QUERY-FOR("lg") {
        max-width: 100%;
        margin: 0 52px;
    }

    @include SET-MEDIA-QUERY-FOR("xl") {
        max-width: $container-max-width;
        margin: 0 auto;
    }
}

.container-fluid {
    min-width: 100%;
}
