// GrayScales
@for $i from 1 to 10 {
    .bg-gray-#{$i} {
        background-color: lighten($color: #000000, $amount: $i * 10%);
    }

    .text-gray-#{$i} {
        color: lighten($color: #000000, $amount: $i * 10%);
    }
}

// get secondary colors
@each $name, $color in $secondary-colors {
    .bg-#{$name} {
        background-color: $color;
    }

    .text-#{$name} {
        color: $color;
    }
}

// get primary colors as css variable
@each $key, $color in $primary-colors {
    .bg-#{$key} {
        background: getColorCssVariable($key);
    }
    .text-#{$key} {
        color: getColorCssVariable($key);
    }
}
