// GrayScales
@for $i from 1 to 10 {
    .bg-gray-#{$i} {
        background-color: lighten($color: #000, $amount: $i * 10%);
    }

    .text-gray-#{$i} {
        color: lighten($color: #000, $amount: $i * 10%);
    }
}

// primary and secondary Utilities
@each $name, $color in $primary-secondary-colors {
    .bg-#{$name} {
        background-color: $color;
    }

    .text-#{$name} {
        color: $color;
    }
}
