// typography heading classes

/*
    we initial sizes for paragraph headers here and use it later.
*/

$val: 10;

@each $name, $size in $headings {
    .#{$name} {
        font-size: $size;
        font-weight: bold;
    }
}

@each $p, $size in $paragraphs {
    .#{$p} {
        font-size: $size;
        font-weight: normal;

        @if $size >= 1rem {
            line-height: 35px;
        } @else {
            line-height: 25px;
        }
    }
}
