// typography heading classes

@each $name, $size in $headings {
    .#{$name} {
        font-size: $size;
        font-weight: bold;
    }
}

@each $p, $size in $paragraphs {
    .#{$p} {
        font-size: $size;
        font-weight: normal;
    }
}
