$primary-colors: (
    "primary": #000000,
    "idle": #feb72b,
    "success": #21bf73,
    "error": #fa4252,
    "dark": #000000,
    "link": #3e64ff,
    "white": #ffffff
);

// this will be appended after the grayscale initialize the colors
$gray-scales: ();
$headings: (
    "title-1": 4.286rem,
    "title-2": 3.429rem,
    "title-3": 2.857rem,
    "title-4": 2.143rem,
    "title-5": 1.714rem,
    "title-6": 1.286rem,
    "title-7": 1.143rem
);

$paragraphs: (
    "text-1": 1.286rem,
    "text-2": 1.143rem,
    "text-3": 1rem,
    "text-4": 0.857rem,
    "text-5": 0.714rem
);

$breakpoints: (
    "vs": 480px,
    "sm": 720px,
    "md": 960px,
    "lg": 1024px,
    "xl": 1366px
);

$margin-paddings-numbers: 10;
$margin-padding-increaser-number: 5;

// button styles
$border-width: 1px;
$botton-border-radios: 15px;
$button-border-padding-y: 16px;
$button-border-padding-x: 16px;

// Badges
$badges-rounded-radios-number: 6px;

$container-max-width: 1200px;

$mark-tag-color: #c3eed9;

:root {
    @each $name, $hex in $primary-colors {
        --#{$name}-color: #{$hex};
    }

    // Badges
    --badges-rounded-radios-number: #{$badges-rounded-radios-number};

    // font styles
    --font-size: 14px;
    --font-family: "Shabnam", "Vazir", sans-serif;
    --layout-direction: rtl;
}
