$primary-colors: (
    "primary": #000000,
    "idle": #feb72b,
    "success": #21bf73,
    "error": #fa4252,
    "link": #3e64ff
);

$headings: (
    "title-1": 4.286rem,
    "title-2": 3.429rem,
    "title-3": 2.857rem,
    "title-4": 2.143rem,
    "title-5": 1.714rem,
    "title-6": 1.286rem,
    "title-7": 1.143rem
);

$paragraphs: (
    "text-1": 1.286rem,
    "text-2": 1.143rem,
    "text-3": 1rem,
    "text-4": 0.857rem,
    "text-5": 0.714rem
);

$breakpoints: (
    "sm": 480px,
    "mo": 720px,
    "ta": 960px,
    "ds": 1024px,
    "dm": 1366
);

:root {
    @each $name, $hex in $primary-colors {
        --#{$name}-color: #{$hex};
    }
    // container size
    --container-max-width: 1200px;

    // font styles
    --font-size: 14px;
    --font-family-rtl: "Shabnam", "Vazir", sans-serif;
    --font-family-ltr: "Inter", sans-serif;
}
