:root {
    --primary-color: #000000;
    --idle-color: #feb72b;
    --success-color: #21bf73;
    --error-color: #fa4252;
    --link-color: #3e64ff;

    --container-max-width-: 1200px;
    --base-font-size: 1.4rem;
    --font-family-rtl: "Shabnam", "Vazir", "sans-serif";
    --font-family-ltr: "Inter", "sans-serif";
}
